.escala-wrapper {
  position: relative;
  flex: 1;
}

.escala-input-group {
  display: flex;
  align-items: center;
}

.escala-input-group input {
  flex: 1;
  padding: 0.7rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
}

.btn-dropdown {
  background: #17a2b8;
  border: none;
  color: white;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  height: 100%;
}

.escala-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 10;
  margin-top: 2px;
}

.escala-opcao {
  padding: 0.5rem;
  cursor: pointer;
}

.escala-opcao:hover {
  background: #f0f0f0;
}
