.btn {
  background-color: #127067;
  display: flex;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.btn:hover {
  background-color: #179387;
}
