.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  
}

.input-group input:focus {
  border-color: var(--primary-green);
  outline: none;
}
