.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #127067;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoNavbar {
  width: 120px;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d4d6d6;
}

.nav-button {
  background-color: #cc4040ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #087ac2;
}